:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center; /* 中央寄せに追加 */
  align-items: center; /* 縦方向に中央寄せに追加 */
  flex-direction: column; /* コンテンツを縦に並べる */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}




.image-preview-container {
  width: 600px; /* 適当な幅を指定します */
  height: 600px; /* 適当な高さを指定します */
  border: 2px solid #ccc; /* 枠を追加します */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto; /* コンテナを中央に配置します */
}

.image-preview-container.image-selected {
  border: none; /* 画像が選択された場合は枠を消します */
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* 枠内に収まるように画像を調整します */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* ボタン間の余白を追加 */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
  outline: none;
  
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



/* ボタンのスタイル */
.buttonNeumorphism {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  aspect-ratio: 1;
  color: #222;
  background-color: #efefef;
  border-radius: 50%;

  transition: box-shadow 0.3s ease-in-out;
}
.buttonNeumorphism:hover {
  box-shadow: 
  -8px -8px 16px rgba(255, 255, 255, 0.9), 
  8px 8px 16px rgba(0, 0, 0, 0.6);
}

.buttonNeumorphism:active {
  box-shadow: 
    inset 4px 4px 8px rgba(0, 0, 0, 0.1), 
    inset -4px -4px 8px rgba(255, 255, 255, 0.2);
}

/* アイコンのスタイル */
.circle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #efefef;
  border-radius: 50%;

  position: relative;
}

.circle-button::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 40px solid #222;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}

@media (any-hover: hover) {
  .circle-button {
    transition: box-shadow 0.2s;
  }

  .circle-button:hover {

    box-shadow: -2px -2px 4px #fff, 2px 2px 4px rgb(0 0 0 / 24%);
  }


  .circle-button:active {
    background-color: #ebebeb;
    box-shadow: inset 4px 4px 8px rgb(0 0 0 / 16%);
  }
}

.play-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem; /* アイコンのサイズを調整 */
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button.playing {
  color: #070707;
}

.play-button.paused {
  /* 一時停止中のスタイル */
}

.play-button-background {
  font-size: 20rem; /* 背景アイコンのサイズ */
  color: #131111; /* 背景アイコンの色 */
  position: absolute;
  z-index: 1; /* 背景アイコンが後ろに */
}

.play-button-overlay {
  font-size: 10rem; /* 前景アイコンのサイズ */
  color: #fff; /* 前景アイコンの色 */
  position: relative;
  z-index: 2; /* 前景アイコンが前に */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .buttonNeumorphism {
    transition: box-shadow 0.2s;
  }

  .buttonNeumorphism:hover {
    box-shadow: -2px -2px 4px #fff, 2px 2px 4px rgb(0 0 0 / 24%);
  }

  .buttonNeumorphism:active {
    background-color: #ebebeb;
    box-shadow: inset 4px 4px 8px rgb(0 0 0 / 16%);
  }

  
}